/* Main Styling */
* {
    margin: 0;
    padding: 0;
}
.App {
    background-color: aquamarine;
    max-width: 65vw;
    margin: 0px auto;
}
.App-main {
    margin: 0px auto;
    text-align: center;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.nav a {
    text-decoration: none;
    padding: 0px 20px;
    margin: 0px 5px;
    background-color: black;
    color: white;
    font-size: 1em;
}
.post-card {

}
.post-details {
    text-align: left;
}
.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.signup-form {
    max-width: 400px;
}